[submodule "share/git/hooks"]
  path = share/git/hooks
  url  = https://bitbucket.org/Alexander-Shukaev/git-hooks.git
[submodule "share/make/scripts"]
  path = share/make/scripts
  url  = https://bitbucket.org/Alexander-Shukaev/make-scripts.git
